<footer class="footer ">
    <div class="container">
        
        <nav class="redes-sociales">
            <a href="#"><i class="fab fa-gitlab" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/smavo24/"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/smavo24"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/s.m.a.v.o.24/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/smavo24"><i class="fab fa-facebook-square"></i></a>                    
        </nav>
    </div>
</footer>